# Directory info
dada_dir="/lustre/mmanders/buffer_obs/20170104/BCAL"
outdir="/lustre/tcallister/GW170104_recalibration/calibration/test"
tmpdir="/lustre/tcallister/scratch/GW170104"
dada="2016-12-12-00:32:18_0017550230175744.000000.dada"
antflag_dir="/lustre/tcallister/GW170104_recalibration/calibration/flags"

# Subbands
spws="$(echo {00..21})"

# Misc options
do_pol_swap=false
exp_line_swap=true
aoflag=false
do_frq_offset=false
peel=false
zest=false
shave=false
prune=false
bandpass=false
apply_bandpass=false
removerfi=false
stokes_cal=false
usettcal=false
